<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/produto/adicionar" method="post">
        Nome: <input type="text" name="nome"><br>
        Estoque: <input type="number" name="estoque" min="0" max="100"> <br>
        preco: <input type="number" name="preco" min="0"> <br>
        Descrico: <textarea name="descricao"></textarea> <br>
        <input type="submit" value="Adicionar">
    </form>
</body>
</html>

